<%= form_for @user, url: {action: "update"}, html: { multipart: true } do |f| %>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group text-center">
          <h4><%= t 'avatar.change' %>:</h4>
<<<<<<< HEAD
          <%= f.file_field :avatar, required: true %>
        </div>
      </div>
    </div>kbhhjvjhvhvh
    <div class="form-group text-center">
      <%= f.submit (t 'avatar.update'), class: 'btn btn-success' %>
    </div>
<% end %>
git
=======
>>>>>>> 03c9969c8041121d2c9dee6c79e5347b33c269c0
