<%= form_for @user, url: {action: "update"}, html: { multipart: true } do |f| %>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group text-center">
          <h4><%= t 'avatar.change' %>:</h4>
